body {
    background-image: url('../images/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landingpage {
    padding-top: 200px;
    margin-top: 200px;
}

h1 {
    color: white;
    font-family: 'FontsFree-Net-Lastica';
    font-size: 36px;
}

h2 {
    color: white;
    font-family: 'FontsFree-Net-Lastica';
    font-size: 18px;
}